md-toolbar h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-sidenav {

    min-width: 272px;
    max-width:272px;
    width: 272px;

}